pandas~=2.3.0
numpy~=1.26.4
matplotlib~=3.10.3
seaborn~=0.13.2
beautifulsoup4~=4.12.3
lxml
nltk~=3.9.1
spacy
transformers~=4.52.4
textblob~=0.19.0
vaderSentiment~=3.3.2
rich
scikit-learn~=1.7.0
plotly~=6.1.2
cufflinks
transformers
torch~=2.6.0
datasets~=3.6.0
optuna~=4.4.0
accelerate
gensim~=4.3.3
requests~=2.32.4
jupyter_core~=5.8.1
tqdm~=4.67.1
streamlit
wordcloud